In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('train.csv')

In [4]:
df

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,8405,107.39,ak,s,as,c,d,aa,d,q,...,1,0,0,0,0,0,0,0,0,0
4205,8406,108.77,j,o,t,d,d,aa,h,h,...,0,1,0,0,0,0,0,0,0,0
4206,8412,109.22,ak,v,r,a,d,aa,g,e,...,0,0,1,0,0,0,0,0,0,0
4207,8415,87.48,al,r,e,f,d,aa,l,u,...,0,0,0,0,0,0,0,0,0,0
4208,8417,110.85,z,r,ae,c,d,aa,g,w,...,1,0,0,0,0,0,0,0,0,0

In [5]:
df.shape

(4209, 378)

In [7]:
df.isnull().sum()

ID      0
y       0
X0      0
X1      0
X2      0
       ..
X380    0
X382    0
X383    0
X384    0
X385    0
Length: 378, dtype: int64

In [107]:
for everyfeature in df.columns:
    print(everyfeature, df[everyfeature].dtype,df[everyfeature].isnull().mean().round(3))

ID int64 0.0
y float64 0.0
X0 object 0.0
X1 object 0.0
X2 object 0.0
X3 object 0.0
X4 object 0.0
X5 object 0.0
X6 object 0.0
X8 object 0.0
X10 int64 0.0
X11 int64 0.0
X12 int64 0.0
X13 int64 0.0
X14 int64 0.0
X15 int64 0.0
X16 int64 0.0
X17 int64 0.0
X18 int64 0.0
X19 int64 0.0
X20 int64 0.0
X21 int64 0.0
X22 int64 0.0
X23 int64 0.0
X24 int64 0.0
X26 int64 0.0
X27 int64 0.0
X28 int64 0.0
X29 int64 0.0
X30 int64 0.0
X31 int64 0.0
X32 int64 0.0
X33 int64 0.0
X34 int64 0.0
X35 int64 0.0
X36 int64 0.0
X37 int64 0.0
X38 int64 0.0
X39 int64 0.0
X40 int64 0.0
X41 int64 0.0
X42 int64 0.0
X43 int64 0.0
X44 int64 0.0
X45 int64 0.0
X46 int64 0.0
X47 int64 0.0
X48 int64 0.0
X49 int64 0.0
X50 int64 0.0
X51 int64 0.0
X52 int64 0.0
X53 int64 0.0
X54 int64 0.0
X55 int64 0.0
X56 int64 0.0
X57 int64 0.0
X58 int64 0.0
X59 int64 0.0
X60 int64 0.0
X61 int64 0.0
X62 int64 0.0
X63 int64 0.0
X64 int64 0.0
X65 int64 0.0
X66 int64 0.0
X67 int64 0.0
X68 int64 0.0
X69 int64 0.0
X70 int64 0.0
X71 int64 0.0
X73 int64 0.0
X74 int64 0.0
X75 int64 0.0
X76 int64 0.0
X77 int64 0.0
X78 int64 0.0
X79 int64 0.0
X80 int64 0.0
X81 int64 0.0
X82 int64 0.0
X83 int64 0.0
X84 int64 0.0
X85 int64 0.0
X86 int64 0.0
X87 int64 0.0
X88 int64 0.0
X89 int64 0.0
X90 int64 0.0
X91 int64 0.0
X92 int64 0.0
X93 int64 0.0
X94 int64 0.0
X95 int64 0.0
X96 int64 0.0
X97 int64 0.0
X98 int64 0.0
X99 int64 0.0
X100 int64 0.0
X101 int64 0.0
X102 int64 0.0
X103 int64 0.0
X104 int64 0.0
X105 int64 0.0
X106 int64 0.0
X107 int64 0.0
X108 int64 0.0
X109 int64 0.0
X110 int64 0.0
X111 int64 0.0
X112 int64 0.0
X113 int64 0.0
X114 int64 0.0
X115 int64 0.0
X116 int64 0.0
X117 int64 0.0
X118 int64 0.0
X119 int64 0.0
X120 int64 0.0
X122 int64 0.0
X123 int64 0.0
X124 int64 0.0
X125 int64 0.0
X126 int64 0.0
X127 int64 0.0
X128 int64 0.0
X129 int64 0.0
X130 int64 0.0
X131 int64 0.0
X132 int64 0.0
X133 int64 0.0
X134 int64 0.0
X135 int64 0.0
X136 int64 0.0
X137 int64 0.0
X138 int64 0.0
X139 int64 0.0
X140 int64 0.0
X141 int64 0.0
X142 int64 0.0
X143 int64 0.0
X144 int64 0.0
X145 int64 0.0
X146 int64 0.0
X147 int64 0.0
X148 int64 0.0
X150 int64 0.0
X151 int64 0.0
X152 int64 0.0
X153 int64 0.0
X154 int64 0.0
X155 int64 0.0
X156 int64 0.0
X157 int64 0.0
X158 int64 0.0
X159 int64 0.0
X160 int64 0.0
X161 int64 0.0
X162 int64 0.0
X163 int64 0.0
X164 int64 0.0
X165 int64 0.0
X166 int64 0.0
X167 int64 0.0
X168 int64 0.0
X169 int64 0.0
X170 int64 0.0
X171 int64 0.0
X172 int64 0.0
X173 int64 0.0
X174 int64 0.0
X175 int64 0.0
X176 int64 0.0
X177 int64 0.0
X178 int64 0.0
X179 int64 0.0
X180 int64 0.0
X181 int64 0.0
X182 int64 0.0
X183 int64 0.0
X184 int64 0.0
X185 int64 0.0
X186 int64 0.0
X187 int64 0.0
X189 int64 0.0
X190 int64 0.0
X191 int64 0.0
X192 int64 0.0
X194 int64 0.0
X195 int64 0.0
X196 int64 0.0
X197 int64 0.0
X198 int64 0.0
X199 int64 0.0
X200 int64 0.0
X201 int64 0.0
X202 int64 0.0
X203 int64 0.0
X204 int64 0.0
X205 int64 0.0
X206 int64 0.0
X207 int64 0.0
X208 int64 0.0
X209 int64 0.0
X210 int64 0.0
X211 int64 0.0
X212 int64 0.0
X213 int64 0.0
X214 int64 0.0
X215 int64 0.0
X216 int64 0.0
X217 int64 0.0
X218 int64 0.0
X219 int64 0.0
X220 int64 0.0
X221 int64 0.0
X222 int64 0.0
X223 int64 0.0
X224 int64 0.0
X225 int64 0.0
X226 int64 0.0
X227 int64 0.0
X228 int64 0.0
X229 int64 0.0
X230 int64 0.0
X231 int64 0.0
X232 int64 0.0
X233 int64 0.0
X234 int64 0.0
X235 int64 0.0
X236 int64 0.0
X237 int64 0.0
X238 int64 0.0
X239 int64 0.0
X240 int64 0.0
X241 int64 0.0
X242 int64 0.0
X243 int64 0.0
X244 int64 0.0
X245 int64 0.0
X246 int64 0.0
X247 int64 0.0
X248 int64 0.0
X249 int64 0.0
X250 int64 0.0
X251 int64 0.0
X252 int64 0.0
X253 int64 0.0
X254 int64 0.0
X255 int64 0.0
X256 int64 0.0
X257 int64 0.0
X258 int64 0.0
X259 int64 0.0
X260 int64 0.0
X261 int64 0.0
X262 int64 0.0
X263 int64 0.0
X264 int64 0.0
X265 int64 0.0
X266 int64 0.0
X267 int64 0.0
X268 int64 0.0
X269 int64 0.0
X270 int64 0.0
X271 int64 0.0
X272 int64 0.0
X273 int64 0.0
X274 int64 0.0
X275 int64 0.0
X276 int64 0.0
X277 int64 0.0
X278 int64 0.0
X279 int64 0.0
X280 int64 0.0
X281 int64 0.0
X282 int64 0.0
X283 int64 0.0
X284 int64 0.0
X285 int64 0.0
X286 int64 0.0
X287 int64 0.0
X288 int64 0.0
X289 int64 0.0
X290 int64 0.0
X291 int64 0.0
X292 int64 0.0
X293 int64 0.0
X294 int64 0.0
X295 int64 0.0
X296 int64 0.0
X297 int64 0.0
X298 int64 0.0
X299 int64 0.0
X300 int64 0.0
X301 int64 0.0
X302 int64 0.0
X304 int64 0.0
X305 int64 0.0
X306 int64 0.0
X307 int64 0.0
X308 int64 0.0
X309 int64 0.0
X310 int64 0.0
X311 int64 0.0
X312 int64 0.0
X313 int64 0.0
X314 int64 0.0
X315 int64 0.0
X316 int64 0.0
X317 int64 0.0
X318 int64 0.0
X319 int64 0.0
X320 int64 0.0
X321 int64 0.0
X322 int64 0.0
X323 int64 0.0
X324 int64 0.0
X325 int64 0.0
X326 int64 0.0
X327 int64 0.0
X328 int64 0.0
X329 int64 0.0
X330 int64 0.0
X331 int64 0.0
X332 int64 0.0
X333 int64 0.0
X334 int64 0.0
X335 int64 0.0
X336 int64 0.0
X337 int64 0.0
X338 int64 0.0
X339 int64 0.0
X340 int64 0.0
X341 int64 0.0
X342 int64 0.0
X343 int64 0.0
X344 int64 0.0
X345 int64 0.0
X346 int64 0.0
X347 int64 0.0
X348 int64 0.0
X349 int64 0.0
X350 int64 0.0
X351 int64 0.0
X352 int64 0.0
X353 int64 0.0
X354 int64 0.0
X355 int64 0.0
X356 int64 0.0
X357 int64 0.0
X358 int64 0.0
X359 int64 0.0
X360 int64 0.0
X361 int64 0.0
X362 int64 0.0
X363 int64 0.0
X364 int64 0.0
X365 int64 0.0
X366 int64 0.0
X367 int64 0.0
X368 int64 0.0
X369 int64 0.0
X370 int64 0.0
X371 int64 0.0
X372 int64 0.0
X373 int64 0.0
X374 int64 0.0
X375 int64 0.0
X376 int64 0.0
X377 int64 0.0
X378 int64 0.0
X379 int64 0.0
X380 int64 0.0
X382 int64 0.0
X383 int64 0.0
X384 int64 0.0
X385 int64 0.0
as int32 0.0
ae int32 0.0
ai int32 0.0
m int32 0.0
ak int32 0.0
r int32 0.0
n int32 0.0
s int32 0.0
f int32 0.0
e int32 0.0

In [140]:
df_object = [feature for feature in df.columns if df[feature].dtypes == np.object]

In [141]:
df_object

['X0', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X8']

In [148]:
top10 = [x for x in df['X0'].value_counts().sort_values(ascending = False).head(10).index]

In [149]:
top10

['z', 'ak', 'y', 'ay', 't', 'x', 'o', 'f', 'n', 'w']

In [152]:
for everylael in top10:
    df[label] = np.where(df['X2'] == label,1,0)

In [153]:
df

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,as,ae,ai,m,ak,r,n,s,f,e
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,0,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,0,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,1,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,8405,107.39,ak,s,as,c,d,aa,d,q,...,1,0,0,0,0,0,0,0,0,0
4205,8406,108.77,j,o,t,d,d,aa,h,h,...,0,0,0,0,0,0,0,0,0,0
4206,8412,109.22,ak,v,r,a,d,aa,g,e,...,0,0,0,0,0,1,0,0,0,0
4207,8415,87.48,al,r,e,f,d,aa,l,u,...,0,0,0,0,0,0,0,0,0,1
4208,8417,110.85,z,r,ae,c,d,aa,g,w,...,0,1,0,0,0,0,0,0,0,0